/*#property_images .input_img {
    position: absolute;
    top: -1000px;
}*/

#property_images input[type="file"] {
    margin-bottom: 15px;
    margin-left: 10px;
}

#property_images .img_preview {
    width:100%;
    height: 300px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    background: #f4f4f4;
    background-size: cover;
    background-position: center center;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.35);
}

#property_images .img_preview label {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 0 30px;
    color: grey;
    opacity: 1;
}

#property_images .img_preview.dragging {
    background-image: none !important;
}

#property_images .img_preview.dragging label {
    opacity: 0.5 !important;
}

#property_images .img_preview.hasImage label {
    opacity: 0;
    pointer-events: none;
    user-select: none;
}

.hidden_img_input {
    display: none;
}

.img_input {
    width: 100%;
}
