/***********************************************
********* GENERAL SETUPS ***********************
***********************************************/

#body .my_color_01 {
    background-color: #fd9644; /*ORANGE HIBISCUS*/
}

#body .my_color_02 {
    background-color: #f7b731; /*NYC TAXI*/
}

#body .my_color_03 {
    background-color: #d1d8e0; /*TWINKLE BLUE*/
}

#body .top_margin {
    padding-top: 120px;
}

#body .bottom_margin {
    padding-bottom: 70px;
}

#body .page_min_height {
    min-height: 500px;
}

#body .linear_gradient {
    background: linear-gradient(rgba(196, 102, 0, 0.4), rgba(155, 89, 182, 0.4));
}

#body .my_container {
    margin: 0 20px;
}

/***********************************************
********* TEMPLATE OVERRIDE ********************
***********************************************/

.south-btn-small {
    position: relative;
    z-index: 1;
    min-width: 70px;
    height: 30px;
    color: #ffffff;
    font-size: 10px;
    font-weight: normal;
    background-color: #fd9644;
    border-radius: 0;
    line-height: 30px;
    padding: 0 15px;
    text-transform: uppercase;
}

/***********************************************
********* NAVBAR *******************************
***********************************************/
#southNav div.dropdown-menu.dropdown-menu-right a {
    color: black;
}

/***********************************************
********* WELCOME PAGE *************************
***********************************************/

/* Dropdown Lists */
.nice-select.open .list {
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
    box-sizing: border-box;
    margin-top: 4px;
    max-height: 200px;
    overflow-y: auto;
}

/***********************************************
********* REGISTER PAGE **************************
***********************************************/
#signup_page {
    min-height: 900px;
}

#signup_page input {
    margin-bottom: 5px;
}

#signup_page .feedback_span {
    font-size: small;
}

#signup_form input, #signup_form textarea {
    background-color: #d1d8e0;
    font-size: medium;
}

#signup_form fieldset, #create_property_page fieldset {
    margin: 45px auto;
}

#signup_form div.checkbox label {
    margin-bottom: 3px;
}

#signup_page div.checkbox {
    margin-bottom: 10px;
}

#signup_form div.nice_select {
    margin-bottom: 10px;
}

/***********************************************
********* USER HOMEPAGE MENU *******************
***********************************************/
#menu .accordion {
    background-color: #f7b731;
    color: #444;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

#menu .active, #menu .accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.menu_item.active:after {
    content: "\2212";
}

#menu .panel {
    padding: 0 18px 0 10px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

#menu .menu_item {
    font-weight: bold;
    font-size: 1rem;
    border-top: 1px solid white;
}

#menu .list-group-item,
#menu .list-group-item:first-child,
#menu .list-group-item:last-child {
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    font-size: 0.7rem;
}

/***********************************************
********* CRATE PROPERTY PAGE ******************
***********************************************/
#create_property_form .my_checkbox {
    margin-bottom: 5px;
}

.sub_title {
    font-size: small;
    display: inline-block;
    font-style: italic;
}

#my_map {
    height: 450px;
}

.showMyFeeadback {
    display: inline-block;
}
